@charset "UTF-8";

*{
  padding: 0;
  margin: 0;
}

html, body{
  font-size: 100%;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
  color: black;
}

.container{
  width: 1300px;
  text-align: center;
  margin: 10px auto;
}

.title h1{
  color: green;
  font-size: 80px;
  margin-bottom: 10px;
}

.sub-title{
  font-size: 30px;
  font-weight: 400;
}

.mainvisual{
  width: 500px;
  margin: 0 auto;
}

.button-login{
  margin-bottom: 50px;
}

.button-login a{
  padding: 20px 200px;
  background-color: green;
  color: #fff;
  border-radius: 20px;
}

.button-new a{
  padding: 20px 200px;
  color: green;
  border: 1px solid green;
  border-radius: 20px;
}

.button-login:hover,
.button-new:hover{
  opacity: 0.7;
}

.button-login:active,
.button-new:active{
  opacity: 0.5;
}